.header{
    height: 100 vh;
    background-color: rgb(255, 222, 235);
    position: relative;
}
.header-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
