html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hi {
    background-color: burlywood;
    position: relative;
    height: 50rem;
}
.pets {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.hello {
    position: absolute;
}