html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "test";
    src: url("modern_king-webfont.woff");
    src: url("modern_king-webfont.woff2");
}
.header {
    position: relative;
    height: 100vh;
}
.pets {
    width: 100% ;
    position: absolute;
    z-index: 1;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.enlightenment {
    position: absolute;
    left: 77%;
    top: 17%;
    transform: translate(-50%,-50%);
    font-size: 9.5rem;
    text-transform: uppercase;
    z-index: 2;
    font-family: "test";
    color: white;
    text-shadow: 5px 5px 10px rgba(255,255,255,0.7);
}